.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    border-radius: 10px;
    background-color: rgba(46, 46, 46, 0.941);

    .form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
        width: 90%;
        height: 90%;

        h4{
            font-size: 42px;
            font-weight: 200;
        }

        .name, .subject{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            height: 10%;

            .input{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 45%;
                height: 100%;

                input{
                    padding-left: 5px;
                    width: 99%;
                    height: 80%;
                    font-weight: 300;
                    font-family: Poppins;
                    font-size: 18px;
                    border-radius: 5px;
                    border: 0;
                    color: #EEEEEE;
                    background-color: #232323;

                    &:focus{
                        outline: none;
                    }
                }

                .line{
                    opacity: 0;
                    transition: 0.5s;
                    margin-top: 5px;
                    margin-left: 1%;
                    height: 5%;
                    width: 1%;
                    background-color: rgb(0, 255, 238);
                }

                input:focus ~ .line{
                    opacity: 1;
                    transition: 0.5s;
                    width: 100%;
                }
            }
        }

        .subject{

            .input{
                width: 100%;

                .line{
                    margin-left: 0;
                }
            }

        }

        .message{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            height: 50%;

            .textarea{
                width: 100%;
                height: 100%;

                textarea{
                    padding-left: 5px;
                    padding-top: 5px;
                    min-width: 100%;
                    min-height: 50%;
                    width: 100%;
                    height: 90%;
                    max-width: 100%;
                    max-height: 90%;
                    font-weight: 300;
                    font-family: Poppins;
                    font-size: 18px;
                    border-radius: 5px;
                    border: 0;
                    color: #EEEEEE;
                    background-color: #232323;

                    &:focus{
                        outline: none;
                    }
                }

                .line{
                    opacity: 0;
                    transition: 0.5s;
                    margin-top: 5px;
                    height: 1%;
                    width: 1%;
                    background-color: rgb(0, 255, 238);
                }

                textarea:focus ~ .line{
                    opacity: 1;
                    transition: 0.5s;
                    width: 100%;
                }
            }
        }

        .sendbutton{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 10%;

            .btn{
                transition: 0.5s;
                color: #EEEEEE;
                background-color: #232323;
                font-family: Poppins;
                font-size: 24px;
                font-weight: 100;
                box-shadow: rgba(0, 0, 0, 0.298) 0px 2px 10px;
                border: 0;
                width: 60%;
                height: 90%;

                &:hover{
                    cursor: pointer;
                    scale: 1.05;
                    transition: 0.5s;
                    font-weight: 300;
                    color: #232323;
                    background-color: rgb(0, 255, 238);
                }
            }
        }
    }
}

.night{
    background-color: #d0bfa6;

    .form{

        h4{
            color: #232323;
        }

        .name, .subject{

            .input{
                input{
                    background-color: #EEEEEE;
                    color: #232323;

                }

                .line{
                    background-color: rgb(30, 30, 30);
                }
            }
        }
        .message{
            .textarea{
                textarea{
                    background-color: #EEEEEE;
                    color: #232323;

                }

                .line{
                    background-color: rgb(30, 30, 30);
                }

            }
        }

        .sendbutton{

            .btn{
                background-color: #EEEEEE;
                color: #232323;
                font-weight: 400;
                &:hover{
                    color: #d0bfa6;
                    background-color: rgb(50, 50, 50);
                }
            }
        }
    }
}


@media screen and (max-width: 550px) {
    .container{
        width: 95%;

        .form{
            h4{
                font-size: 32px;
            }

            .name, .subject{
                .input{
                    input{
                        font-size: 16px;
                    }
                }
            }

            .message{
                .textarea{
                    textarea{
                        font-size: 16px;
                    }
                }
            }

            .sendbutton{
                .btn{
                    font-size: 18px;
                }
            }
        }
    }
}