.redirect{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 600px;
    min-height: 600px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .container{
        transition: .5s;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 100%;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
        background-color: #222222;

        .bkg{
            opacity: 0.2;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            z-index: 1;
            object-fit: cover;
        }

        .card{
            height: 35%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h4{
                font-weight: 300;
                font-size: 28px;
                margin-bottom: 10px;
                z-index: 2;
                color: white;
            }

            p{
                text-align: center;
                padding-inline: 5%;
                font-size: 16px;
                font-weight: 300;
                z-index: 2;
                color: rgba(255, 255, 255, 0.572);
            }
        }

        .images{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 65%;
            gap: 10px;

            .image{
                transition: 0.3s;
                width: 45%;
                height: 40%;
                border-radius: 5px;
                background-color: rgba(128, 128, 128, 0.238);
                z-index: 2;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    object-fit: cover;
                    z-index: 2;
                }

                &:hover{
                    transition: 0.3s;
                    transform: rotate(1deg);
                    scale: 1.02;
                    cursor: pointer;
                }
            }
        }

        &:hover{
            transition: 0.5s;
            scale: 1.02;
            background-color: #818181;
            h4, p{
                color: #222222;
            }
        }
    }

    .day{
        background-color: #e5f7f7;

        .card{
            h4, p{
                color: #222222;
            }
        }

        &:hover{
            background-color: #22222257;

            .card{
                h4, p{
                    color: #e5f7f7;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .redirect{
        width: 550px;
        height: 550px;

        .container{
            .card{
                p{
                    font-size: 14px;
                }
                h4{
                    font-size: 24px;
                }
            }
        }
    }
}


@media screen and (max-width: 650px) {
    .redirect{
        width: 450px;
        min-height: 450px;

        .container{
            .card{
                p{
                    font-size: 10px;
                }
                h4{
                    font-size: 22px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .redirect{
        width: 400px;
        min-height: 400px;
    }
}

@media screen and (max-width: 450px) {
    .redirect{
        width: 330px;
        min-height: 330px;
    }
}

