.noDisplay{
    display: none;
}

.container{
    transition: 0.8s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: initHome 0.2s 0.3s both;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: #EEEEEE;
    background-color: transparent;
    overflow-y: hidden;
    overflow-x: hidden;

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 92vw;
        height: 100%;

        .about{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 80%;
        }

        .cards{
            scroll-behavior: smooth;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-right: 20px;
            gap: 3%;
            width: auto;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}

.day{
    transition: 0.8s;
    background-color: #e5f7f7 !important;
}


@keyframes initHome {
    0%{
        background-color: transparent;
    }
    100%{
        background-color: #222222;
    }
}

@media screen and (max-width: 1000px) {
    .container{
        .content{
            overflow-y: scroll;
            overflow-x: hidden;
            flex-direction: column;

            .cards{
                overflow: unset;
                margin-top: 50px;
                margin-bottom: 50px;
                margin-right: 0;
            }

            .about{
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .container{
        .content{
            width: 100%;
            align-self: flex-end;
            height: 90vh;
            margin-bottom: 50px;

            .about{
                margin-top: 100px;
                width: 95%;
            }

        }
    }
}